{% extends 'layouts/base.html' %}

{% block content %}

    <h1>About</h1>

    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sit aliquid, unde non qui animi ex placeat quos impedit obcaecati rerum consequuntur nobis totam nulla odio amet debitis libero dicta! Omnis adipisci consequatur consequuntur laboriosam soluta libero magni facere minus, ratione fugiat aperiam veritatis sed, repellat reiciendis pariatur dignissimos tempora molestias cum numquam! Voluptatem, labore totam expedita sunt dignissimos fuga ea, tempora quasi pariatur corporis perspiciatis, vitae soluta explicabo atque harum reprehenderit consectetur eveniet amet! Quas tempora hic accusamus iste officia placeat culpa laboriosam quod. Est, odio perferendis. Vero iste natus consequatur voluptas, voluptate quaerat eveniet ipsum, totam maxime quia error.</p>

    <p>Website created by {{username}}</p>

{% endblock %}